* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/Backgroundimage.jpg);
    overflow-x: hidden;
}

/* navbar */

.top-nav {
    display: none;
}


.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 16vh;
    background-color: #000;
}

header .logo {
    width: 150px;
    height: 150px;
    margin-left: -10px;
    margin-top: -20px;

}

.navbar ul li {
    display: inline;
    list-style: none;
}

header nav {
    margin-left: 0px;
}

.navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    padding: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right:20px;
}



.navbar li a:hover {
    color: yellow;
    font-size: 17px;
    font-weight: bold;
}

/* navbar dropdown */

header .dropdown {
    display: inline-block;
    position: relative;
}

header .dropdown .dropdown-cont {
    display: none;
    position: absolute;
}

header .dropdown:hover .dropdown-cont {
    display: block;
}

/* headings */
.mainheadings h1 {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: cursive;
    text-align: center;
    padding: 80px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: -10px;
}

.page1heading1 h1 {
    text-align: center;
    padding: 80px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: -20px;
    margin-left: -800px;
}

.page1heading2 h1 {
    text-align: center;
    padding: 80px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: -760px;
    margin-right: -800px;
}

.page2heading1 h2 {
    text-align: center;
    padding: 80px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-top: -25px;
    margin-right: 750px;
}

.page3heading1 h2 {
    text-align: center;
    padding: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 8px;
    margin-top: 50px;
    margin-left: -50px;
    width: 800px;
}

.page3heading2 h2 {
    text-align: center;
    padding: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 8px;
    margin-top: 10px;
    margin-left: -50px;
    width: 800px;
}

.page3heading3 h2 {
    text-align: center;
    padding: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 8px;
    margin-top: 50px;
    margin-left: -50px;
    width: 800px;
}

.page4heading1 h2 {
    text-align: center;
    padding: 180px;
    font-size: 35px;
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 100px;
    margin-left: 50px;
    width: 600px;
    height: 600px;
    background-image: url(../images/hikkaduwa\ hathery.jpg);
    border-radius: 300px;
}

.page4heading2 h2 {
    text-align: center;
    padding: 90px;
    font-size: 30px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 500px;
    margin-left: 120px;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(270deg, #035A6E, #101004, #035A6E);
    border-radius: 30px;
}

.page6heading1 h1 {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -35px;
    margin-left: -950px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page6heading2 h1 {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -150px;
    margin-left: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page6heading3 h1 {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -145px;
    margin-left: 1050px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* paragraphs */
.page1para1 section p {
    color: white;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 75px;
    letter-spacing: 1px;
    word-spacing: -1px;
    width: 575px;
    height: 250px;
}

.page1para2 section h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 300px;
    margin-left: 30px;
    letter-spacing: 1px;
    word-spacing: -1px;
    width: 1450px;
    height: 80px;
    font-size: 36px;
    background-image: linear-gradient(270deg, #0193b0, #619ea9);
    padding: 20px;
}

.page1para3 p {
    color: white;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: -1px;
    margin-top: -50px;
    margin-left: 50px;
    width: 575px;
}

.page1para4 p {
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    word-spacing: -1px;
    margin-top: -45px;
    margin-left: 850px;
    width: 575px;
    font-size: 30px;
}

.page1para4 ul {
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    word-spacing: -1px;
    margin-top: 50px;
    margin-left: 850px;
    width: 575px;
    font-size: 30px;
}

.page2para1 p {
    text-align: center;
    padding: 80px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: -520px;
    margin-left: 750px;
}

.page2para2 p {
    text-align: center;
    padding: 80px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: -520px;
    margin-left: 750px;
}

.page2para3 p {
    text-align: center;
    padding: 80px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: -520px;
    margin-left: 750px;
}

.page2para4 p {
    text-align: center;
    padding: 80px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: -520px;
    margin-left: 750px;
}

.page2para5 p {
    text-align: center;
    padding: 80px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: -520px;
    margin-left: 750px;
}

.page3para1 p {
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -190px;
    margin-left: 750px;
    width: 550px;
    height: 250px;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: -5px;
}

.page3para2 p {
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -135px;
    margin-left: 750px;
    width: 550px;
    height: 250px;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: -5px;
}

.page3para3 p {
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -135px;
    margin-left: 750px;
    width: 550px;
    height: 250px;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: -5px;
}

.page4para1 p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
    margin-left: 50px;
    width: 700px;
    height: 400px;
    font-size: 39px;
    padding: 50px;
}

.page4para2 p {
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -600px;
    margin-left: 750px;
    width: 575px;
    height: 250px;
    font-size: 30px;
}

.page4para3 p {
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -430px;
    margin-left: 670px;
    width: 690px;
    height: 210px;
    font-size: 30px;
}

.page6para1 p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: cursive;
    margin-top: -40px;
    margin-left: -950px;
    font-size: 30px;
}

.page6para2 p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: cursive;
    margin-top: -45px;
    margin-left: 0px;
    font-size: 30px;
}

.page6para3 p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: cursive;
    margin-top: -45px;
    margin-left: 1000px;
    font-size: 30px;
}


/* images */
.page1img1 {
    float: right;
    width: 500px;
    height: 350px;
    border-radius: 15px;
    margin-top: -220px;
    margin-right: 150px;
}

.imgpage2 {
    float: right;
    width: 500px;
    height: 300px;
    border-radius: 100px;
    margin-top: -250px;
    margin-right: 75px;
}

.img1page3 {
    float: left;
    width: 500px;
    height: 310px;
    border-radius: 50px;
    margin-top: -70px;
    margin-left: 85px;
}

.pg2img1 {
    float: right;
    width: 370px;
    height: 370px;
    border-radius: 360px;
    margin-top: -150px;
    margin-right: 200px;
}

.pg2img2 {
    float: right;
    width: 370px;
    height: 370px;
    border-radius: 360px;
    margin-top: -150px;
    margin-right: 200px;
}

.pg2img3 {
    float: right;
    width: 370px;
    height: 370px;
    border-radius: 360px;
    margin-top: -150px;
    margin-right: 200px;
}

.pg2img4 {
    float: right;
    width: 370px;
    height: 370px;
    border-radius: 360px;
    margin-top: -150px;
    margin-right: 200px;
}

.pg2img5 {
    float: right;
    width: 370px;
    height: 370px;
    border-radius: 360px;
    margin-top: -150px;
    margin-right: 200px;
}

.img2page3 {
    float: left;
    width: 530px;
    height: 380px;
    border-radius: 50px;
    margin-top: -80px;
    margin-left: 85px;
}

.img3page3 {
    float: left;
    width: 500px;
    height: 350px;
    border-radius: 50px;
    margin-top: -80px;
    margin-left: 85px;
}

.tbleimg {
    width: 250px;
    height: 150px;
    float: center;
}

.pg6img1 {
    float: center;
    width: 350px;
    height: 350px;
    margin-top: 70px;
    margin-left: 110px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
}

.pg6img2 {
    float: center;
    width: 350px;
    height: 350px;
    margin-top: -560px;
    margin-left: 600px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
}

.pg6img3 {
    float: center;
    width: 350px;
    height: 350px;
    margin-top: -550px;
    margin-left: 1110px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
}

/* Buttons */
.button {
    height: 50px;
    width: 150px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    margin-top: 170px;
    margin-left: -320px;
    border: 7px solid #845fff;
    background-image: linear-gradient(360deg, #00d5ff, #9be0ec);
    border: 7px solid #6d94b4;
}

.button:hover {
    background-color: #5ee7a2;
    color: white;
}

/* table */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1400px;
    height: 500px;
    border: 2px solid #ffffff;
    background-image: linear-gradient(270deg, #0193b0, #619ea9);
    text-align: center;
    font-style: bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 40px;
}

.tbpara {
    text-align: justify;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
}

th {
    border: 15px solid rgb(36, 103, 148);
    padding: 5px;
}

td {
    border: 15px solid rgb(36, 103, 148);
    padding: 5px;
}

/* map */

.pg2map1 {
    border: 0px;
    width: 600px;
    height: 450px;
    margin-top: -50px;
    margin-left: 80px;
    border-radius: 20px;
}

.pg2map2 {
    border: 0px;
    width: 600px;
    height: 450px;
    margin-top: 350px;
    margin-left: 80px;
    border-radius: 20px;
}

.pg2map3 {
    border: 0px;
    width: 600px;
    height: 450px;
    margin-top: 350px;
    margin-left: 80px;
    border-radius: 20px;
}

.pg2map4 {
    border: 0px;
    width: 600px;
    height: 450px;
    margin-top: 350px;
    margin-left: 80px;
    border-radius: 20px;
}

.pg2map5 {
    border: 0px;
    width: 600px;
    height: 450px;
    margin-top: 350px;
    margin-left: 80px;
    border-radius: 20px;
}

.pg4map {
    border: 0px;
    width: 600px;
    height: 450px;
    margin-top: -430px;
    margin-left: 800px;
    border-radius: 100px;
}

/* forum */
.forum {
    font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        border: 2px solid #ffffff;
        background-image: linear-gradient(270deg, #0193b0, #619ea9);
        text-align: left; 
        font-style: bold;
        font-size: 20px;
        color: rgb(255, 255, 255);
        line-height: 10px;
        padding: 40px;
        height: 750px;
        width: 700px;
        margin-top: 110px;
        margin-left: 380px;
}

.buttonsub {
    height: 40px;
    width: 100px;
}

/* footer */

/* footer pg1 */
.footer-basic1 {
    padding: 8px;
    background-image: url(../Images/Backgroundimage.jpg);
    color: #ffffff;
    margin-top: 400px;
}

.footer-basic1 ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic1 li {
    padding: 0 10px;
}

.footer-basic1 ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic1 ul a:hover {
    opacity: 1;
}

.footer-basic1 .social1 {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic1 .social1>a {
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 75%;
    border: 2px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic1 .social1>a:hover {
    opacity: 0.9;
}

.footer-basic1 .copyright1 {
    margin-top: 15px;
    font-style: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    color: #ffffff;
}

/* footer pg2 */
.footer-basic2 {
    padding: 8px;
    background-image: url(../Images/Backgroundimage.jpg);
    color: #ffffff;
    margin-top: 400px;
}

.footer-basic2 ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic2 li {
    padding: 0 10px;
}

.footer-basic2 ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic2 ul a:hover {
    opacity: 1;
}

.footer-basic2 .social2 {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic2 .social2>a {
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 75%;
    border: 2px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic2 .social2>a:hover {
    opacity: 0.9;
}

.footer-basic2 .copyright2 {
    margin-top: 15px;
    font-style: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    color: #ffffff;
}

/* footer pg3 */
.footer-basic3 {
    padding: 8px;
    background-image: url(../Images/Backgroundimage.jpg);
    color: #ffffff;
    margin-top: 50px;
}

.footer-basic3 ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic3 li {
    padding: 0 10px;
}

.footer-basic3 ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic3 ul a:hover {
    opacity: 1;
}

.footer-basic3 .social3 {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic3 .social3>a {
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 75%;
    border: 2px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic3 .social3>a:hover {
    opacity: 0.9;
}

.footer-basic3 .copyright3 {
    margin-top: 15px;
    font-style: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    color: #ffffff;
}

/* footer pg4 */
.footer-basic4 {
    padding: 8px 0;
    background-image: url(../Images/Backgroundimage.jpg);
    color: #ffffff;
    margin-top: 300px;
}

.footer-basic4 ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic4 li {
    padding: 0 10px;
}

.footer-basic4 ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic4 ul a:hover {
    opacity: 1;
}

.footer-basic4 .social4 {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic4 .social4>a {
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 75%;
    border: 2px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic4 .social4>a:hover {
    opacity: 0.9;
}

.footer-basic4 .copyright4 {
    margin-top: 15px;
    font-style: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    color: #ffffff;
}


/* footer pg6 */
.footer-basic6 {
    padding: 8px 0;
    background-image: url(../Images/Backgroundimage.jpg);
    color: #ffffff;
    margin-top: 100px;
}

.footer-basic6 ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic6 li {
    padding: 0 10px;
}

.footer-basic6 ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic6 ul a:hover {
    opacity: 1;
}

.footer-basic6 .social6 {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic6 .social6>a {
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 75%;
    border: 2px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic6 .social6>a:hover {
    opacity: 0.9;
}

.footer-basic6 .copyright6 {
    margin-top: 15px;
    font-style: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    color: #ffffff;
}

/* Media */
@media screen and (max-width:475px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-image: url(../images/Backgroundimage.jpg);
        overflow-x: hidden;
    }

    /* navbar */
    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #000000;
        color: #FFF;
        height: 16vh;
        padding: 1em;
    }

    #logo {
        width: 150px;
        height: 150px;
        margin-left: -50px;
        margin-top: -5px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu>li {
        margin: 0 1rem;
        overflow: hidden;
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked+.menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked+.menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked+.menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 100px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .navbar {
        display: none;
        width: 100%;
        height: 16vh;
        background-color: #000;
    }


    /* headings */
    .mainheadings h1 {
        background-color: rgba(0, 0, 0, 0.3);
        font-family: cursive;
        text-align: center;
        padding: 80px;
        font-size: 40px;
        font-weight: bolder;
        color: #ffffff;
        text-transform: uppercase;
        width: 453px;
        letter-spacing: 10px;
        margin-top: 100px;
        margin-bottom: -10px;
    }

    .page1heading1 h1 {
        text-align: center;
        padding: 80px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-top: 20px;
        margin-right: 750px;
    }

    .page1heading2 h1 {
        text-align: center;
        padding: 80px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-top: 250px;
        margin-right: 750px;
    }

    .page2heading1 h2 {
        text-align: center;
        padding: 80px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-top: -25px;
        margin-right: 750px;
    }

    .page3heading1 h2 {
        text-align: center;
        padding: 80px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        word-spacing: 8px;
        margin-top: 50px;
        margin-left: -180px;
        width: 800px;
    }

    .page3heading2 h2 {
        text-align: center;
        padding: 80px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        word-spacing: 8px;
        margin-top: -50px;
        margin-left: -180px;
        width: 800px;
    }

    .page3heading3 h2 {
        text-align: center;
        padding: 80px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        word-spacing: 8px;
        margin-top: 20px;
        margin-left: -180px;
        width: 800px;
    }

    .page4heading1 h2 {
        text-align: center;
        padding: 90px;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-top: 100px;
        margin-left: 25px;
        width: 400px;
        height: 400px;
        background-image: url(images/hikkaduwa\ hathery.jpg);
        border-radius: 300px;
    }

    .page4heading2 h2 {
        text-align: center;
        padding: 90px;
        font-size: 30px;
        font-weight: bolder;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 480px;
        margin-left: 20px;
        width: 400px;
        height: 400px;
        background-image: linear-gradient(270deg, #035A6E, #101004, #035A6E);
        border-radius: 30px;
    }

    .page6heading1 h1 {
        text-align: center;
        padding: 30px;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: -35px;
        margin-left: -20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .page6heading2 h1 {
        text-align: center;
        padding: 30px;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: -35px;
        margin-left: -10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .page6heading3 h1 {
        text-align: center;
        padding: 30px;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: -45px;
        margin-left: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    /* paragraphs */
    .page1para1 section p {
        text-align: center;
        padding: 80px;
        font-size: 30px;
        font-weight: lighter;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: -25px;
        margin-left: -50px;
    }

    .page1para2 section h3 {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: -1px;
        word-spacing: -1px;
        width: 450px;
        height: 100px;
        font-size: 20px;
        background-image: linear-gradient(270deg, #0193b0, #619ea9);
        padding: 20px;
        border-radius: 5px;
        margin-top: 1100px;
        margin-left: 1px;
    }

    .page1para3 p {
        color: rgb(255, 255, 255);
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: -150px;
        margin-left: 10px;
        width: 430px;
        height: 250px;
        font-size: 25px;
        letter-spacing: 1px;
        word-spacing: -5px;
    }

    .page1para4 p {
        color: rgb(255, 255, 255);
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: -50px;
        margin-left: 10px;
        width: 430px;
        height: 250px;
        font-size: 25px;
        letter-spacing: 1px;
        word-spacing: -5px;
    }

    .page1para4 ul {
        color: rgb(255, 255, 255);
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: -150px;
        margin-left: 10px;
        width: 430px;
        height: 250px;
        font-size: 25px;
        letter-spacing: 1px;
        word-spacing: -5px;
    }

    .page2para1 p {
        text-align: center;
        padding: 80px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: -250px;
        margin-left: 180px;
    }

    .page2para2 p {
        text-align: center;
        padding: 80px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: -250px;
        margin-left: 230px
    }

    .page2para3 p {
        text-align: center;
        padding: 80px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: -250px;
        margin-left: 230px
    }

    .page2para4 p {
        text-align: center;
        padding: 80px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: -250px;
        margin-left: 180px
    }

    .page2para5 p {
        text-align: center;
        padding: 80px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: -245px;
        margin-left: 210px
    }

    .page3para1 p {
        color: rgb(255, 255, 255);
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 250px;
        margin-left: 10px;
        width: 430px;
        height: 250px;
        font-size: 25px;
        letter-spacing: 1px;
        word-spacing: -5px;
    }

    .page3para2 p {
        color: rgb(255, 255, 255);
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 250px;
        margin-left: 10px;
        width: 430px;
        height: 250px;
        font-size: 25px;
        letter-spacing: 1px;
        word-spacing: -5px;
    }

    .page3para3 p {
        color: rgb(255, 255, 255);
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 250px;
        margin-left: 10px;
        width: 430px;
        height: 250px;
        font-size: 25px;
        letter-spacing: 1px;
        word-spacing: -5px;
    }

    .page4para1 p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 100px;
        margin-left: -50px;
        width: 550px;
        height: 400px;
        font-size: 30px;
        padding: 50px;
    }

    .page4para2 p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 50px;
        margin-left: -50px;
        width: 550px;
        height: 400px;
        font-size: 30px;
        padding: 50px;
    }

    .page4para3 p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: -30px;
        margin-left: -50px;
        width: 550px;
        height: 400px;
        font-size: 30px;
        padding: 50px;
    }

    .page6para1 p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: cursive;
        margin-top: -45px;
        margin-left: -10px;
        font-size: 30px;
    }

    .page6para2 p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: cursive;
        margin-top: -45px;
        margin-left: 0px;
        font-size: 30px;
    }

    .page6para3 p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: cursive;
        margin-top: -40px;
        margin-left: 10px;
        font-size: 30px;
    }


    /* images */
    .page1img1 {
        float: left;
        width: 380px;
        height: 250px;
        border-radius: 5px;
        margin-top: 740px;
        margin-left: 40px;
    }

    .imgpage2 {
        float: right;
        width: 500px;
        height: 300px;
        border-radius: 100px;

    }

    .img1page3 {
        float: left;
        width: 500px;
        height: 310px;
        border-radius: 50px;

    }

    .pg2img1 {
        float: left;
        width: 150px;
        height: 150px;
        border-radius: 360px;
        margin-top: -140px;
        margin-left: 280px;
    }

    .pg2img2 {
        float: left;
        width: 150px;
        height: 150px;
        border-radius: 360px;
        margin-top: -140px;
        margin-left: 280px;
    }

    .pg2img3 {
        float: left;
        width: 150px;
        height: 150px;
        border-radius: 360px;
        margin-top: -170px;
        margin-left: 280px;
    }

    .pg2img4 {
        float: left;
        width: 150px;
        height: 150px;
        border-radius: 360px;
        margin-top: -140px;
        margin-left: 280px;
    }

    .pg2img5 {
        float: left;
        width: 150px;
        height: 150px;
        border-radius: 360px;
        margin-top: -150px;
        margin-left: 280px;
    }

    .img1page3 {
        float: left;
        width: 380px;
        height: 250px;
        border-radius: 5px;
        margin-top: -50px;
        margin-left: 40px;
    }

    .img2page3 {
        float: left;
        width: 380px;
        height: 250px;
        border-radius: 5px;
        margin-top: -50px;
        margin-left: 40px;
    }

    .img3page3 {
        float: left;
        width: 380px;
        height: 250px;
        border-radius: 5px;
        margin-top: -50px;
        margin-left: 40px;
    }

    .tbleimg {
        width: 250px;
        height: 150px;
        float: center;
    }

    .pg6img1 {
        float: center;
        width: 350px;
        height: 350px;
        margin-top: 70px;
        margin-left: 40px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 16px;
    }

    .pg6img2 {
        float: center;
        width: 350px;
        height: 350px;
        margin-top: 70px;
        margin-left: 40px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 16px;
    }

    .pg6img3 {
        float: center;
        width: 350px;
        height: 350px;
        margin-top: 70px;
        margin-left: 40px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 16px;
    }

    /* table */
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        border: 2px solid #ffffff;
        background-image: linear-gradient(270deg, #0193b0, #619ea9);
        text-align: center;
        font-style: bold;
        font-size: 10px;
        color: rgb(255, 255, 255);
        width: 450px;
        line-height: 10px;
        margin-top: 50px;
        margin-left: 1px;
    }

    .tbpara {
        text-align: justify;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
    }

    th {
        border: 10px solid rgb(36, 103, 148);
        padding: 4px;
    }

    td {
        border: 10px solid rgb(36, 103, 148);
        padding: 4px;
    }

    /* map */

    .pg2map1 {
        border: 0px;
        width: 200px;
        height: 150px;
        margin-top: -50px;
        margin-left: 30px;
        border-radius: 20px;
    }

    .pg2map2 {
        border: 0px;
        width: 200px;
        height: 150px;
        margin-top: 100px;
        margin-left: 30px;
        border-radius: 20px;
    }

    .pg2map3 {
        border: 0px;
        width: 200px;
        height: 150px;
        margin-top: 100px;
        margin-left: 30px;
        border-radius: 20px;
    }

    .pg2map4 {
        border: 0px;
        width: 200px;
        height: 150px;
        margin-top: 60px;
        margin-left: 30px;
        border-radius: 20px;
    }

    .pg2map5 {
        border: 0px;
        width: 200px;
        height: 150px;
        margin-top: 80px;
        margin-left: 30px;
        border-radius: 20px;
    }

    .pg4map {
        border: 0px;
        width: 400px;
        height: 350px;
        margin-top: -30px;
        margin-left: 30px;
        border-radius: 100px;
    }

    /* buttons */
    .button {
        height: 50px;
        width: 150px;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        transition-duration: 0.5s;
        cursor: pointer;
        margin-top: 225px;
        margin-left: 150px;
        border: 7px solid #845fff;
        background-image: linear-gradient(360deg, #00d5ff, #9be0ec);
        border: 7px solid #6d94b4;
    }
    
    .button:hover {
        background-color: #5ee7a2;
        color: white;
    }

    /* forum */
.forum {
    font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        border: 2px solid #ffffff;
        background-image: linear-gradient(270deg, #0193b0, #619ea9);
        text-align: left; 
        font-style: bold;
        font-size: 18px;
        color: rgb(255, 255, 255);
        line-height: 10px;
        padding: 40px;
        height: 750px;
        width: 450px;
        margin-top: 110px;
        margin-left: 1px;
}

textarea {
    width: 400px;
}

.buttonsub {
    height: 40px;
    width: 100px;
}

    /* footer */

    /* footer pg1 */
    .footer-basic1 {
        padding: 8px;
        background-image: url(../Images/Backgroundimage.jpg);
        color: #ffffff;
        margin-top: 100px;
        width: 450px;
    }

    .footer-basic1 ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    .footer-basic1 li {
        padding: 0 10px;
    }

    .footer-basic1 ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

    .footer-basic1 ul a:hover {
        opacity: 1;
    }

    .footer-basic1 .social1 {
        text-align: center;
        padding-bottom: 25px;
    }

    .footer-basic1 .social1>a {
        font-size: 25px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 75%;
        border: 2px #ccc;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }

    .footer-basic1 .social1>a:hover {
        opacity: 0.9;
    }

    .footer-basic1 .copyright1 {
        margin-top: 15px;
        font-style: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bolder;
        font-size: 15px;
        color: #ffffff;
    }

    /* footer pg2 */
    .footer-basic2 {
        padding: 8px;
        background-image: url(../Images/Backgroundimage.jpg);
        color: #ffffff;
        margin-top: 200px;
        width: 450px;
    }

    .footer-basic2 ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    .footer-basic2 li {
        padding: 0 10px;
    }

    .footer-basic2 ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

    .footer-basic2 ul a:hover {
        opacity: 1;
    }

    .footer-basic2 .social2 {
        text-align: center;
        padding-bottom: 25px;
    }

    .footer-basic2 .social2>a {
        font-size: 25px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 75%;
        border: 2px solid #ccc;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }

    .footer-basic2 .social2>a:hover {
        opacity: 0.9;
    }

    .footer-basic2 .copyright2 {
        margin-top: 15px;
        font-style: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bolder;
        font-size: 15px;
        color: #ffffff;
    }

    /* footer pg3 */
    .footer-basic3 {
        padding: 8px;
        background-image: url(../Images/Backgroundimage.jpg);
        color: #ffffff;
        margin-top: 150px;
        width: 450px;
    }

    .footer-basic3 ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    .footer-basic3 li {
        padding: 0 10px;
    }

    .footer-basic3 ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

    .footer-basic3 ul a:hover {
        opacity: 1;
    }

    .footer-basic3 .social3 {
        text-align: center;
        padding-bottom: 25px;
    }

    .footer-basic3 .social3>a {
        font-size: 25px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 75%;
        border: 2px solid #ccc;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }

    .footer-basic3 .social3>a:hover {
        opacity: 0.9;
    }

    .footer-basic3 .copyright3 {
        margin-top: 15px;
        font-style: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bolder;
        font-size: 15px;
        color: #ffffff;
    }

    /* footer pg4 */
    .footer-basic4 {
        padding: 8px;
        background-image: url(../Images/Backgroundimage.jpg);
        color: #ffffff;
        margin-top: 400px;
        width: 450px;
    }

    .footer-basic4 ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    .footer-basic4 li {
        padding: 0 10px;
    }

    .footer-basic4 ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

    .footer-basic4 ul a:hover {
        opacity: 1;
    }

    .footer-basic4 .social4 {
        text-align: center;
        padding-bottom: 25px;
    }

    .footer-basic4 .social4>a {
        font-size: 25px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 75%;
        border: 2px solid #ccc;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }

    .footer-basic4 .social4>a:hover {
        opacity: 0.9;
    }

    .footer-basic4 .copyright4 {
        margin-top: 15px;
        font-style: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bolder;
        font-size: 15px;
        color: #ffffff;
    }


    /* footer pg6 */
    .footer-basic6 {
        padding: 8px 0;
        background-image: url(../Images/Backgroundimage.jpg);
        color: #ffffff;
        margin-top: 130px;
        width: 450px;
    }

    .footer-basic6 ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    .footer-basic6 li {
        padding: 0 10px;
    }

    .footer-basic6 ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

    .footer-basic6 ul a:hover {
        opacity: 1;
    }

    .footer-basic6 .social6 {
        text-align: center;
        padding-bottom: 25px;
    }

    .footer-basic6 .social6>a {
        font-size: 25px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 75%;
        border: 2px solid #ccc;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }

    .footer-basic6 .social6>a:hover {
        opacity: 0.9;
    }

    .footer-basic6 .copyright6 {
        margin-top: 15px;
        font-style: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bolder;
        font-size: 15px;
        color: #ffffff;
    }
}
